.dailyWeather {
    text-align: center;
}

.day{
    font-size: 150%;
    font-weight: bold;
}
.dailyWeather span {
    font-size: 300%;
}

.dailyWeather sup {
    font-size:60%;
}

.weatherText p{
    margin-left: 50px;
    font-weight: bold;
    font-size: 150%;
    margin-bottom:0;
}

.weatherText sup {
    font-size: small;
}
.weatherText div{
    margin-top: 40px;
}

.currentWeather div {
    display: inline-block;
}

.currentWeather img{
    height: 200px;
    margin-top:-70px;
}