@keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(3em);
    }
    40% {
      transform: translate(-3em);
    }
    60% {
      transform: translate(3em);
    }
    80% {
      transform: translate(-3em);
    }
    100% {
      transform: translate(0);
    }
  }

.shaker {
    animation: shake 0.3s;
}