.sports {
    text-align: center;
}

.scores {
    margin-right: 10%;
    margin-left: 10%;
    display: inline-block;
    font-size: 300%;
}

.teamIcon {
    display: inline-block; 
    margin-top: 30px;
}

.teamIcon img {
    height: 50px;
    width: 50px;
}